/* Base styles for all screen sizes */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Added for better alignment */
  padding: 10px 20px; /* Added padding for visual appeal */
  background-color: black; /* Added background color */
  color: white;
}

.navbar_option {
  display: flex;

}
.navbar_option li,
.menu_list li {
  list-style: none;
  margin-right: 10px;  
  font-size: 16px; 
}

.nav_list:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
}

.menu {
  display: none;
}

/* Mobile-specific styles (less than 768px) */
@media (max-width: 767px) {
  .header {
    display: flex;
  }

  .navbar_option {
      display: none;
  }

  .menu {
      display: block;
      margin-right: 100px;
  }

  .menu ul.menu_list.active {
      display: block; 
      color: black;
  }

  .dropdown {
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .menu_list { 
      margin: 0;  
      padding: 0;  
  }
  .menu_list li {
      padding: 10px; 
    }
}
